.bs {
	padding:10px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2),0 1px 10px 0 rgba(0,0,0,0.19);}
.greent{
	color:green;}
.redt{color:red;}
.ort{
	color:orange;
}
.spinner {
  width: 20px;
  height: 20px;
  position: relative;
}
.db1, .db2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: skb 2.0s infinite ease-in-out;
  animation: skb 2.0s infinite ease-in-out;}
.db2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
@-webkit-keyframes skb {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
@keyframes skb {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}